@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-light-50 text-light-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-dark-950 text-dark-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-teal-600;
  }
}
