@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #f8fafc;
    color: #0f172a;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .dark body {
    background-color: #020617;
    color: #f8fafc;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #06b6d4, #0891b2);
  }
}
